button {
  width: 80px;
  height: 50px;
  font-size: 26px;
  cursor: pointer;
  border: none;
  border-top: 1px solid #666;
  border-right: 1px solid #666;
}
.operator:hover {
  background-color: aliceblue;
}
.operator {
  background-color: chocolate;
}

.digit:hover {
  background-color: bisque;
}
.funKey:hover {
  background-color: aqua;
}
.funKey {
  background-color: #5c2d2d;
}
